<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si on demande la racine du dossier aquabiome, on va dans public
    RewriteRule ^$ public/index.php [L]

    # Pour tout le reste, si le fichier n'existe pas, on tente d'envoyer vers public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
