# Ce fichier est vide pour laisser le .htaccess de la racine gérer le routage.
# Cela évite les conflits de RewriteBase sur Alwaysdata.
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
</IfModule>
